.wrapPromotion
    .container-xl.containerItem   
        +render_title("GET IT NOW", "HOT PROMOTION")
        .contentItem 
            .row.rowItem 
                each item in data_page.promotion
                    .col-lg-12.col-sm-6.colItem
                        .promotionItem 
                            .row  
                                .col-lg-6.col-sm-12.colImgPromotion
                                    .wrapImgPromotionItem.wrapImgResize 
                                        img(src= item.url, alt= item.title)

                                .col-lg-6.col-sm-12.colContentPromotion
                                    .wrapContentItem    
                                        h3.titlePromotion
                                            a(href='javascript:void(0);', title= item.title)= item.title
                                        p.description=item.description
                                        a.btn2.btnViewMore(href='javascript:void(0);' title='Đặt ngay' data-toggle='modal' data-target='#modalBookRoom') VIEW MORE
                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                                                path(d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z")
                                             
                                    
                                
