// copyright
.wrapCopyright.clearfix
    .container-xl.containerItem
        .contentItemCopyright
            .footerLeft
                .titleCopyright
                    p © 2022 Comodo 
                        b Nha Trang&nbsp
                        | hotel
                .titleDev
                    p designed and developed by 
                        b Sweetsoft JSC
            .footerRight
                a.tagConditions(href='javascript:void(0);' title= 'Terms & Conditions') Terms & Conditions
                a(href='javascript:void(0);' title= 'hotel Policcies') hotel Policcies

                
// end copyright